.App {
  text-align: center;
  min-width:300px;
  min-height:100px;
}

.body {
  width: 150px;
  display: flex;
  margin:auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width:200px;
  padding: 3px;
  margin: auto;
}